<div class='login-card'>
  <div class='login-content'>
    <div class='login-title'>Login</div>
    <div class='login-email'>
      <label for='email'></label>
      <input type='email' id='email' />
    </div>
    <div class='login-password'>
      <label for='password'></label>
      <input type='password' id='password' />
    </div>
    <div class='login-remember-me'>
      <label for='remember'></label>
      <input type='checkbox' id='remember' />
    </div>
    <div class='login-button'>
      <div class='neon-button'>
        <button type='button'>Cancel</button>
        <button type='submit'>Login</button>
      </div>
    </div>
  </div>
</div>
