<div class='login-card'>
  <div class='login-content'>
    <div class='login-title'>SIGN IN</div>
    <form [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
      <div class='inputs'>
        <div class='login-email'>
          <label for='email'>Email</label>
          <input formControlName="email" required type='email' id='email' />
        </div>
        <div class='login-password'>
          <label for='password'>Password</label>
          <input formControlName="password" required type='password' id='password' />
        </div>
        <div class='login-remember-me'>
          <input formControlName="remember" type='checkbox' id='remember' />
          <label class='remember-label' for='remember'>Remember me</label>
        </div>
      </div>
      <div class='login-button'>
        <div class='neon-button'>
          <button type='button' (click)='onCancel()'>Cancel</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type='submit'>Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
