.exercise-details-modal .modal {
  border: 1px solid white;
  display: flex;
}
.exercise-details-modal {
  border: none;
  color: #f864b4;
}

.exercise-details-modal .modal-content {
  background: #010101;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  border: none;
  align-items: center;
}

.exercise-details-modal .modal-header {
  background: linear-gradient(to top, black 90%, #470bab);
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
}

.exercise-details-modal .modal-footer {
  background: linear-gradient(black 90%, #470bab);
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: flex-end;
}

.neon-button button{
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  color: #6b5194;
  width: 125px;
  padding: 10px;
  background: #6b5194 none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 1px;
  border-color: #6b5194;
  border-radius: 0;
  margin: 10px;
}
.neon-button button:hover {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  color: rgba(252, 119, 222, 0.81);
  background: -webkit-repeating-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.neon-button button:focus {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  color: rgba(252, 119, 222, 0.81);
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background: -webkit-repeating-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #743ad5;
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 2.4rem;
}

.description {
  padding: 10px;
  margin: 20px;
  color: rgba(154, 2, 121, 0.92);
  text-shadow: 1px 1px 1px #743ad5;
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}

.exercise-image img{
  width: 250px;
  padding: 20px;
  background-color: black;
}

.youtube-player {
  display: flex;
  justify-content: center;
  margin: 20px;
}
