<div class="exercise-details-modal">
  <div class="modal-header">{{ exercise?.name | uppercase }}</div>
  <div class="modal-content">
    <div>{{ exercise?.description }}</div>
    <div>{{ exercise?.img_url }}</div>
    <div>{{ exercise?.video_url }}</div>
    <div>{{ exercise?.reps }}</div>
    <div>{{ exercise?.series }}</div>
  </div>
  <div class="modal-footer">
    <div class="neon-button">
      <button (click)="modal.close('Cancel')" [disabled]='isActive' aria-label="Close">Close</button>
    </div>
  </div>
</div>
