<div class='container'>
  <div class='exercise-add-modal'>
    <div class='modal-header'>
      <div>
        <div class='login-title'>ADD EXERCISE</div>
      </div>
    </div>
    <div class='modal-content'>
      <div>
        <div class='form'>
          <form>
            FOMR
          </form>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <div>
        <div class='neon-button'>
          <button
            (click)="modal.close('Cancel')"
            aria-label='Close'>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
