.container {
  border: 1px solid blueviolet;
  padding: 10px;
  background: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 850px;
}

.form-box{
  width: 800px;
}

input[type=text] .ng-pristine .ng-invalid .ng-touched {
  border: 1px solid red
}

.exercise-add-modal{
  opacity: 0.9;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: black;
}

.exercise-add-modal:hover{
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  background-color: #010101;
  padding: 10px;
}

.default {
  color: rgba(197, 94, 174, 0.81);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.default input[type=text]{
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}
.default input[type=number]{
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}

.description {
  color: rgba(197, 94, 174, 0.81);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 150px;
}

.description textarea{
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}

.column-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  margin: 10px;
  float: left;
  width: 50%;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding: 10px;
  margin: 10px;
  float: right;
  width: 50%;
}
.form-buttons{
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.series-reps{
  display: flex;
  flex-direction: row;
  gap: 25%;
}

.title{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.select {
  color: rgba(197, 94, 174, 0.81);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select select{
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}

::ng-deep .ng-invalid{
  border: 1px solid red;
}

