.container{
  border: 1px solid blueviolet;
  padding: 25px;
  background: #010101;
  display: flex;
}

.exercise-add-modal .modal-content .modal-header .modal-footer{
  padding: 10px;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #010101;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #010101;
  padding: 10px;
}

.name {
  color: rgba(197, 94, 174, 0.81);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name input[type=text]{
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}
