.user-list-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 25px;
  padding: 10px;
  height: 400px;
  margin-bottom: 50px;
}

.neon-button {
  align-self: center;
  justify-self: center;
}

.neon-button button {
  height: 45px;
  width: 180px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.search {
  opacity: 0.6;
  margin-left: 50px;
  color: rgba(197, 94, 174, 0.81);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: flex-start;
}

.search:hover {
  opacity: 0.9;
}

.search input[type=text] {
  height: 43px;
  width: 280px;
  padding: 10px;
  margin: 0;
  display: inline-block;
  border: 1px solid #e27df8;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}

.list-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 5px;
  margin: 5px;
}

.list {
  padding: 5px;
  margin: 5px;

}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
}

.exercise-category {
  color: rgba(236, 98, 206, 0.81);
  text-shadow: 1px 1px 1px #945bf5;
  margin-right: 10px;
  margin-left: 25px;
  opacity: 0.8;
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 1rem;
  display: flex;
  flex-flow: row;
}

.exercise-name {
  opacity: 0.8;
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 1.4rem;
  display: flex;
  flex-flow: row;
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #fa2d9c;
}

.exercise-name:hover {
  opacity: 1;
  cursor: pointer;
}

.not-added {
  color: #9A0279CE;
}


