.toast-green{
  display: flex;
  justify-content: center;
  font-family: system-ui;
  font-size: 16px;
  color: #08ec08;

}

.toast-red{
  display: flex;
  justify-content: center;
  font-family: system-ui;
  font-size: 16px;
  color: #ec4747;
}
