<div class="error" *ngIf="!workout">
  <p>
    Sorry, we have server error! Please, try to reload page or wait few
    minutes...
  </p>
</div>
<div class="workout" *ngIf="workout">
  <div class="workout-list">
    <div class="exercise">
      <div class="name">
        [{{ workout.mobility?.category }}] {{ workout.mobility?.name }}
      </div>
      <div class="series">{{workout.mobility?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.mobility?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.plyo?.category }}] {{ workout.plyo?.name }}
      </div>
      <div class="series">{{workout.plyo?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.plyo?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.legs_pull?.category }}] {{ workout.legs_push?.name }}
      </div>
      <div class="series">{{workout.legs_pull?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.legs_pull?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.pull?.category }}] {{ workout.pull?.name }}
      </div>
      <div class="series">{{workout.pull?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.pull?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.legs_pull?.category }}] {{ workout.legs_pull?.name }}
      </div>
      <div class="series">{{workout.legs_pull?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.legs_pull?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.push?.category }}] {{ workout.push?.name }}
      </div>
      <div class="series">{{workout.push?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.push?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.abs?.category }}] {{ workout.abs?.name }}
      </div>
      <div class="series">{{workout.abs?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.abs?.reps}}</div>
    </div>
    <div class="exercise">
      <div class="name">
        [{{ workout.accessory?.category }}] {{ workout.accessory?.name }}
      </div>
      <div class="series">{{workout.accessory?.series}}</div>
      <div class="x">x</div>
      <div class="reps">{{workout.accessory?.reps}}</div>
    </div>
  </div>
</div>
