.workout{
  display: flex;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left,#d53a9d, #743ad5);
  width: 900px;
  height: 700px;
}
.workout-list{
  padding: 50px;
}

.exercise{
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 1.75rem;
  color: rgba(169, 2, 134, 0.81);
  text-shadow: 1px 1px 1px hotpink;
  display: flex;
  align-items: start;
}

.name{

}
.series{

}
.reps{
}

