.workout {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #d53a9d, #743ad5);
  width: 1100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.8;
}

.workout:hover {
  opacity: 0.9;
}

.workout-list {
  padding: 25px;
  margin: 15px;
  width: 1100px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.exercise {
  opacity: 0.8;
  text-decoration: #010101;
  font-family: system-ui;
  font-weight: lighter;
  font-size: 2.4rem;
  display: flex;
  flex-flow: row;
  height: 100px;
}

.exercise:hover {
  opacity: 1;
  cursor: pointer;
}

.name {
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #743ad5;
  width: 900px;
}

.series {
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #9d0256;
  margin-right: 25px;
}

.x {
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #fa2d9c;
  padding-bottom: 4px;
  padding-left: 5px;
  margin-right: 25px;
  justify-content: end;
}

.reps {
  color: rgba(154, 2, 121, 0.81);
  text-shadow: 1px 1px 1px #f864b4;
}

.error {
  color: #9a0279ce;
  font-size: xx-large;
  font-weight: lighter;
  text-shadow: 1px 1px 1px #f864b4;
  width: 900px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  opacity: 0.8;
}
