<nav class="container-fluid navbar navbar-expand-lg header">
  <div class="collapse navbar-collapse button-wrapper" id="navbarNav">
    <div class="navbar-nav button-list">
      <div class="nav-item ">
          <img src="assets/favicon.svg" alt="db" class="dumbell">
      </div>
      <div class="nav-item neon-button">
        <button class="nav-ank btn" routerLink="home">
          HOME
        </button>
      </div>
      <div class="nav-item neon-button">
        <button class="nav-ank btn ">ADD</button>
      </div>
      <div class="nav-item neon-button">
        <button class="nav-ank btn ">LOGIN</button>
      </div>
    </div>
  </div>
</nav>






