<nav class="container-fluid navbar navbar-expand-lg header">
  <div class="collapse navbar-collapse button-wrapper" id="navbarNav">
    <div class="navbar-nav button-list">
      <div class="nav-item neon-button">
        <button class="nav-ank btn" (click)="goHome()">HOME</button>
      </div>
      <div class="nav-item neon-button">
        <button class="nav-ank btn" (click)="goAdd()">ADD</button>
      </div>
      <div class="nav-item neon-button">
        <button class="nav-ank btn" (click)="handleLogging()">{{ loginButtonName }}</button>
      </div>
    </div>
  </div>
</nav>
