.username {
  color: rgba(197, 94, 174, 0.81);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username input[type=text] {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e27df8;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(32, 13, 63);
  color: #e85fb7;
}

.register-card {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid darkviolet;
  width: 450px;
  height: 650px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.register-card:hover {
  transition: background-color 1s;
  background-color: black;
}

.register-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

button:disabled {
  opacity: 0.4;
}


